# Build results
/bin/
/obj/

# User-specific files
*.user
*.userosscache
*.suo
*.vsp
*.pdb
*.dbmdl

# Visual Studio
.vscode/
.vs/

# ASP.NET Secrets
secrets.json

# Rider
.idea/

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos de dependências do NuGet
project.lock.json
project.fragment.lock.json
artifacts/

# Arquivos do JetBrains Rider
*.sln.iml
